build/CMakeFiles
build/anemone-alpha
build/anemone-alpha.prx
build/cmake_install.cmake
build/CMakeCache.txt
build/EBOOT.PBP
build/Makefile
build/PARAM.SFO
*.DS_Store
.DS_Store
*.sav
CMakeCache.txt
CMakeFiles/
Makefile
build/SDL2.dll
build/SDL2_image.dll
build/SDL2_mixer.dll
build/anemone-alpha.exe
cmake_install.cmake
platform/xcode/anemone-alpha/anemone-alpha.xcodeproj/project.xcworkspace/xcuserdata/*